main .columns {
    margin: 20px;
}

main .column {
    background-color: aqua; 
    margin: 10px;
    border-radius: 7px;
}
 
.content ul, .content ul ul{
    list-style-type: none;
}

.menu-list a:hover{
    background-color: #50a0e1;
}

.footer{
    padding-bottom: 4rem;
}
