body {
    background-color:  #3e8ed0;
}

main{
    margin: 5px;
    padding: 25px;
    background-color: whitesmoke;
}

main .columns {
    margin: 8px;
}

main .column {
    background-color: rgb(220, 233, 233); 
    margin: 10px;
    border-radius: 7px;
}

.example {
    border: solid !important;
    border-width: 1px !important;
    border-color: hsl(348, 86%, 43%) !important;
    border-radius: 3px !important;
    padding: 3px;
}
 
.content ul, .content ul ul{
    list-style-type: none;
}

.menu-list a:hover{
    background-color: #50a0e1;
}

.footer{
    padding-bottom: 4rem;
}
