main{
    margin: 30px;
    background-color: grey;
    padding: 25px;
}

main .columns {
    margin: 8px;
}

main .column {
    background-color: aqua; 
    margin: 10px;
    border-radius: 7px;
}
 
.content ul, .content ul ul{
    list-style-type: none;
}


